.main{
    display: flex;
   
    width:80% ;
    
    margin: auto;
    text-align: left;
 
}
.div1{
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    width: 30%;
   
    padding-left: 10px;
    background-color: azure;
}

.div2{
    /* border: 1px solid rgb(230, 230, 230); */
    width: 65%;
  
    background-color: beige;
  
}

.heading{
    /* border: 1px solid black; */
    box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px, rgba(0, 0, 0, 0.1) 0px 2px 4px 0px, rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
    width:80%;
    height: 80px;
    margin: auto;
    text-align: left;
    margin-bottom: 20px;
    margin-top: 30px;
    
    background-color: aqua;
    padding-top: 10px;
}
.btn{
    margin-bottom: 20px;
}


input{
    height: 40px;
    width: 90%;
    margin-bottom: 10px;
    border: none;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px, rgba(0, 0, 0, 0.08) 0px 0px 0px 1px; 
}
